<!DOCTYPE html>
<html>
<head>
	<title>Profile page</title>
</head>
<body>
	<h1>Profile</h1>
	<a href="/">Back</a> | 
	<a href="/logout">logout</a>
	
	<table border="1">
		<tr>
			<td>ID</td>
			<td>customer Name</td>
			<td>Company Name</td>
			<td>Contact</td>
			<td>User Name</td>
			<td>Password</td>
			<td style="text-align: center;">Operations</td>
		</tr>
		<tr>
			<td><%= info.id %></td>
			<td><%= info.name %></td>
			<td><%= info.comp_name %></td>
			<td><%= info.contact %></td>
			<td><%= info.username %></td>
			<td><%= info.password %></td>
			<td>
				<a href="/employeeHome/edit/<%= info.id %>">Edit</a> | 
				<a href="/employeeHome/delete/<%= info.id %>">Delete</a> | 
				<a href="/employeeHome/details/<%= info.id %>">Details</a>
			</td>
		</tr>

	</table>


</body>
</html>